body {
  background-color: rgb(228, 238, 243) !important ;
}


.animated-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: glowing 1.5s infinite;
  }
  
  @keyframes glowing {
    0% {
      box-shadow: 0 0 5px #007BFF;
    }
    50% {
      box-shadow: 0 0 20px #007BFF;
    }
    100% {
      box-shadow: 0 0 5px #007BFF;
    }
  }

  .header{
    background-color: hsl(120, 49%, 92%);
  }
  .menubar{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    margin-right: 60px;
}

.menubar .menuList ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.menubar .menuList ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    list-style-type: none;
    font-size: large;
    font-weight: 600;
    margin-top: 5px;
    
}
.menubar .menuList ul li a {
    text-decoration: none;
    color: black;
}

.toggle button {
  border: none;
  outline: none;
  font-size: 30px;
  background-color: hsl(120, 49%, 92%);
  margin-bottom: 5px;
}
.toggle button:hover{
  background-color: hsl(120, 49%, 92%);
  transform: scale(0.6);
  transition: all 0.10s;
  outline: none;

}

.toggle{
  display: none;
}

.menubar .menuList ul.open{
  margin-left: 0px;
  transition: all .4s ease-in-out;
}
.menubar .menuList ul.close{
  margin-left: -3000px;
  transition: all .4s ease-in-out;
}


@media (max-width:570px){
  .menubar .menuList ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      transition: all .05s ease-in-out ;
      left: 200px;
      margin-top: 30px;
      width: 200px;
      height: 300px;
      background-color: rgb(235, 202, 202);
      padding: 20px;
      margin-left: -3000px;
  }
  .toggle{
      display: block;
      
  }
  .toggle button:hover{
    background-color: hsl(120, 49%, 92%);
    transform: scale(0.6);
    transition: all 2s ease-in-out ;
    outline: none;
  
  }
}
@media (max-width:768px){
  .menubar .menuList ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      transition: all .05s ease-in-out ;
      left: 200px;
      margin-top: 30px;
      width: 200px;
      height: 300px;
      background-color: rgb(235, 202, 202);
      padding: 20px;
      margin-left: -3000px;
  }
  .toggle{
      display: block;
      
  }
  .toggle button:hover{
    background-color: hsl(120, 49%, 92%);
    transform: scale(0.6);
    transition: all 2s ease-in-out ;
    outline: none;
  
  }
}

@media (max-width:992px){
  .menubar .menuList ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      transition: all .05s ease-in-out ;
      left: 200px;
      margin-top: 30px;
      width: 200px;
      height: 300px;
      background-color: rgb(235, 202, 202);
      padding: 20px;
      margin-left: -3000px;
  }
  .toggle{
      display: block;
      
  }
  .toggle button:hover{
    background-color: hsl(120, 49%, 92%);
    transform: scale(0.6);
    transition: all 2s ease-in-out ;
    outline: none;
  
  }
}


@media (max-width:1024){
  .menubar{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    margin-right: 60px;
}

.menubar .menuList ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.menubar .menuList ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    list-style-type: none;
    font-size: large;
    font-weight: 600;
    margin-top: 5px;
    
}
.menubar .menuList ul li a {
    text-decoration: none;
    color: black;
}

.toggle button {
  border: none;
  outline: none;
  font-size: 30px;
  background-color: hsl(120, 49%, 92%);
  margin-bottom: 5px;
}
.toggle button:hover{
  background-color: hsl(120, 49%, 92%);
  transform: scale(0.6);
  transition: all 0.10s;
  outline: none;

}

.toggle{
  display: none;
}

  
}

.beforeText .btn {
  color: black;
  font-size: 18px;
  font-weight: 600;
}


.animated-btn1 {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    animation: colorChange 4s infinite;
}

@keyframes colorChange {
    0% {
        background-color: red;
    }
    25% {
        background-color: green;
    }
    50% {
        background-color: blue;
    }
    75% {
        background-color: black;
    }
    100% {
        background-color: red;
    }
}

.footer{
    background-color: hsl(0, 2%, 35%);
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 50px 50px;
    color: white;
}
.img{
    color: white;
}
.useFullLink a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    display: block;
}
.courseCard{
    height: 550px !important;
    background-color: red;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.courseCard a {
    text-decoration: none;
}
.courseCard:hover{
    transform: scale(1.05);
    transition: all 1s ease-in-out;
}

.cardBody h3 {
    font-weight: 600;
    color: black;
}
.cardBody h6 {
    font-weight: bolder;
    color: rgba(74, 71, 71, 0.69);
    font-size: 17px;
}

.cardBody p{
    margin-top: 15px;
    color: darkgrey;
}
















